:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button{
  color: white;
  margin: 5px;
  margin-left: 10px;
  border-radius: 10px;
  border: 1px solid #2c2c2c;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button.checked{
  background-color: transparent;
  transition: background-color 1s;
}
button:hover
{
  border-color: #a78a6d;
}
button.checked:hover{
  background-color: green;
}

.listButton{
  margin: 0;
  margin-left: 10px;
}

/* Estilos para tablas */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1em;
  background-color: #1a1a1a;
  color: rgba(255, 255, 255, 0.87);

}

th, td {
  text-align: center;
  border: 1px solid #2c2c2c;
}



th {
  background-color: #383838;
  font-weight: 500;
  text-align: center;
}

/* Estilos para matrices */
.matrix-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.matrix-row {
  display: flex;
  gap: 10px;
}

.matrix-cell {
  width: 40px;
  height: 40px;
  background-color: #1a1a1a;
  color: rgba(255, 255, 255, 0.87);
  border: 1px solid #2c2c2c;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}

/* Estilos adicionales para enlaces en tablas y matrices */
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

ul,lo, li {
  padding: 0;
  list-style-type: none;
  text-align: right;
  margin: 10px;
}
li{
  margin-right: 1em;
}
strong{
  margin: 5px;
  margin-left: 20px;
  text-align: center;
  background-color: #2c2c2c;
  padding: 8px 10px 8px 10px;
  border-radius: 8px;
}

.hoursContainer{
  display:flex
  margin:auto;
}
.hours{
  text-align: center;
}

.onAddingSuccess {
  text-align: center;
  color: green;
  margin: 5px;
}

.onDeletingSuccess{
  text-align: center;
  color: red;
  margin: 5px;
}

.fade-out {
  color: green;
  transition: white 0.5s ease-out; /* Puedes ajustar la duración y el efecto según tus preferencias */
  color: white;
}

.onDeletingSuccess.fade-out-delete {
  opacity: 0;
  transition: opacity 0.5s ease-out; /* Puedes ajustar la duración y el efecto según tus preferencias */
  color: ;
}

.workingHoursContainer{
  margin: 20px 5px;
}
button:disabled {
  opacity: 0.5;
}

img.profile{
  width: 200px;
  border-radius:50%;
}
.stats-info{
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}
.levelup-btn{
  flex-direction: row;
  display: flex;
  justify-content: center;
}